.title {
  text-decoration: none;
}
header {
  height: 80px;
  
}
   nav {
  display: flex;
  /* flex-wrap: wrap; */
  width: cover;
  justify-content: space-around;
}

  header nav div {
    display: inline;
  font-size: larger;
 margin-left: 5px;
  color: white;
  border-radius: 7px;
  transition: background-color .2s, color .2s;
  /* padding: 10px; */
}

header nav div:hover {
  background-color: burlywood;
  color: crimson;
}
/* #logout {
  width: 20px;
} */
/* .auth form { 
    padding: 50px;
  } */
  /* @media (max-width: 600px) {
    h1 {
      text-align: center;
      font-size: xx-large;
    }
    header nav div {
      opacity: 0;
    }
    header nav div:hover {
      opacity: 1;
    }
  } */

