.title {
  text-decoration: none;
}
header {
  height: 100px;
  
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  header nav div {
  font-size: larger;
  background-color: burlywood;
  color: white;
  width: cover;
  border-radius: 7px;
  transition: background-color .2s, color .2s;
  /* padding: 10px; */
}

header nav div:hover {
  background-color: burlywood;
  color: crimson;
}
/* .auth form { 
    padding: 50px;
  } */
  
