header {
    display: flex;
    width: cover;
    justify-content: center;
    max-width: 100%;
    color: white;
    background-color: #590E0D;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
  }