.auth form { 
    padding: 50px;
  }
  .auth form input, .form form input, button {
    background-color: maroon;
    color: white;
    padding: 8px;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 1.2em;
    
  }