/* 
//////  NAV
*/
header {
  text-align: center;
}
header nav{
  display: flex;
  justify-content: space-around;
}
header nav a{
  color: white;
  text-decoration: none;
}
header nav div {
  font-size: larger;
  background-color: maroon;
  color: white;
  width: 200px;
  border-radius: 7px;
  transition: background-color .2s, color .2s;
  padding: 10px;
}

header nav div:hover {
  background-color: burlywood;
  color: maroon;
}

.App {
  text-align: center;
  background-color: #590E0D;
}
.auth form { 
  padding: 50px;
}
.auth form input, .form form input, button {
  background-color: maroon;
  color: white;
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
  
}

.dashboard {
  text-align: center;
}

.dashboard .note {
  text-align: center;
  width: 90%;
  margin: 10px auto;
  border: 3px solid crimson;
}